*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border{
    border: 1px solid rgb(168, 168, 168);
    border-radius: 8px;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F9FAFB;
}

header{
    height: 60px;
    background-color: white;
    border-bottom: solid 1px rgb(168, 168, 168);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;

}
#logo{
    font-size: 32px;
    margin: 0 7px;
    align-items: center;
}

header ul{
    list-style: none;
    display: flex;
}

header a {
    text-decoration: none;
    margin: 20px;
    color:rgb(105, 105, 105) ;
    padding: 10px;
    font-weight: 600;
}

header a:hover{
    background-color: #E9EFFD;
    padding: 10px;
    border-radius: 8px;
    color: #2563EB;
    font-weight: 600;

    transition: all 300ms ease;
}

.user{
    display: flex;
}

header button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 3px;
    margin: 0 5px;
    border: solid 1px rgb(168, 168, 168) ;
    background-color: white;

}

#button_page{
    background-color: #E9EFFD;
    padding: 10px;
    border-radius: 8px;
    color: #2563EB;
    font-weight: 600;
}

#button_page:hover{
    background-color: #ffffff;
    color: black;
}

.btn_user{
    border: none;
    background-color: #2563EB;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn_user:hover{
    background-color: #E9EFFD;
    color:#2563EB;
    border: solid 1px #2563EB;

    transition: all 200ms ease;
}

main{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.contaniner{
    max-width: 900px;
    min-width: 600px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    margin-bottom: 50px;

}

.contaniner input{
    padding: 10px ;
    border-radius: 8px;
    border: 1px solid rgb(168, 168, 168);
    margin-bottom: 10px;
}

.flex{
    display: flex;
    flex-direction: column;
}
.phone_section{
    display: flex;
    width: 100%;
}

.indicatif-section{
    width: 30%;
    margin-right:20px ;
}
.phone_number_section{
    width: 70%;
}

select{
    border: 1px solid rgb(168, 168, 168);
    padding: 8px;
    border-radius: 8px;

}

.client-preferences {
    padding: 30px 15px;
    position: relative;
    margin-bottom: 30px;

}

.header-preferences{
    position: absolute;
    background-color: white;
    padding: 5px;
    top: -15%;
    
}

#entreprise_input{
    margin-bottom: 30px;
}

.type-de-client{
    display: flex;
    padding: 5px;

    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    margin:  20px auto;
}

.cart:hover{
    background-color: #E9EFFD;
    border: solid 1px #2563EB;

    transition: all 300ms ease;
}

.type-text{
    justify-content: left;
}

.icon{
    font-size: 24px;
    margin-bottom: 10px;
}

textarea{
    padding: 10px;
    font-size: 16px;
}

.contaniner label {
    margin-bottom: 5px;
}

.line-end{
    background-color: rgb(168, 168, 168);
    height: 2px;
    margin: 50px 0 20px 0 ;

}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.end-btn{
    width: 45%;
    padding: 10px;
    background-color:#2563EB ;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;

}

.end-btn:hover{
    background-color: #E9EFFD;
    color:#2563EB;
    border: solid 1px #2563EB;

    transition: all 200ms ease;


}



@media (max-width: 800px){
    header a{
        margin: 5px;
    }
}

@media (max-width: 650px){
    header a{
        margin: 5px;
        font-size: 12px;
    }
    .logo{
        font-size: 16px;
    }

    .contaniner{
        max-width: 500px;
    }
}